body {
    /*noinspection CssUnknownTarget*/
    background: url('/images/bg/2.jpeg');
}

.container {
    margin-top: 20px;
}

.page-title {
    font-size: 2em;
    height: 100%;
    vertical-align: middle;
    margin-left: 10px;
}

.title-h3 {
    font-size: 1.25em;
    height: 100%;
    vertical-align: middle;
    margin-left: 5px;
}

.logo {
    height: 50px;
}

.logo-small {
    height: 25px;
}

.distance-bottom {
    margin-bottom: 20px;
}

.item-icon {
    max-width: 120px;
    max-height: 120px;
}

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.thumbnail {
    height: 175px;
    overflow: hidden;
}

.thumbnail .caption {
    font-size: 0.8em;
}